<footer class="site-footer">
  <div class="footer-content">
    <p>© <%= Time.now.year %> Suraj Budhathoki. All rights reserved.</p>
    <div class="social-links">
      <a href="https://github.com/TinyGiant1998" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://linkedin.com/in/surajbudhathoki" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.instagram.com/tiny_giant1998/" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    <p class="built-by">Designed and developed using <i class="fas fa-gem"></i> Ruby on Rails.</p>
  </div>
</footer>
