<header class="navbar">
  <div class="nav-left"><a href="/">Suraj Budhathoki</a></div>

  <div class="hamburger" id="hamburger">&#9776;</div>

  <nav class="nav-right" id="nav-menu">
    <%= link_to "ABOUT", root_path %>
    <%= link_to "PROJECTS", projects_path %>
    <%= link_to "CONTACT", contact_path %>
    <%= link_to "BLOG", blog_path %>
  </nav>
</header>
