<% content_for :title, "Projects" %>

<section class="projects-page">
  <h1 class="projects-heading">🚀 My Projects</h1>

  <div class="projects-container">

    <div class="project-card">
      <h2>Community Centre Website</h2>
      <p>A full-featured MERN web application for managing events, gallery, and community programs.</p>
      <div class="project-tags">
        <span>MERN</span>
        <span>React</span>
        <span>Node.js</span>
        <span>MongoDB</span>
        <span>JavaScript</span>
      </div>
      <div class="project-links">
        <div>
          GitHub: 🤐 Private Repo
        </div>
        <div>
          Live Site: Work in Progress
        </div>


      </div>
    </div>

    <div class="project-card">
      <h2>The Thought Lab</h2>
      <p>A Ruby on Rails blog platform with authentication, user profiles, Dicebear avatars, and Netflix-style UI.</p>
      <div class="project-tags">
        <span>Ruby on Rails</span>
        <span>Bootstrap</span>
        <span>MySQL</span>
      </div>
      <div class="project-links">
        <a href="https://github.com/surajbudhathoki/thoughtlab" target="_blank">GitHub</a>
        <a href="https://thoughtlab.live" target="_blank">Live Site</a>
      </div>
    </div>

    <div class="project-card">
      <h2>Mock Data Migration Project</h2>
      <p>A backend simulation for importing CSV into MySQL using Ruby to understand ETL processes for RTO systems.</p>
      <div class="project-tags">
        <span>Ruby</span>
        <span>MySQL</span>
        <span>CSV</span>
        <span>ETL</span>
      </div>
      <div class="project-links">
        <a href="https://github.com/surajbudhathoki/mock-migration" target="_blank">GitHub</a>
      </div>
    </div>
    <div class="project-card">
      <h2>Mock Data Migration Project</h2>
      <p>A backend simulation for importing CSV into MySQL using Ruby to understand ETL processes for RTO systems.</p>
      <div class="project-tags">
        <span>Ruby</span>
        <span>MySQL</span>
        <span>CSV</span>
        <span>ETL</span>
      </div>
      <div class="project-links">
        <a href="https://github.com/surajbudhathoki/mock-migration" target="_blank">GitHub</a>
      </div>
    </div>

  </div>
</section>
